<!-- Hamburger button -->
<button class="hamburger" (click)="toggleSidenav()">
  <div></div>
  <div></div>
  <div></div>
</button>

<!-- Sidenav container -->
<div class="sidenav-container" [class.open]="isSidenavOpen">
  <div class="sidenav-header">Navigation</div>
  <a routerLink="/" routerLinkActive="active">
    <i class="fa-solid fa-house"></i> Home
  </a>
  <a routerLink="/about" routerLinkActive="active">
    <i class="fa-solid fa-user"></i> About
  </a>
  <a routerLink="/projects" routerLinkActive="active">
    <i class="fa-solid fa-laptop-code"></i> Projects
  </a>
  <a routerLink="/blog" routerLinkActive="active">
    <i class="fa-solid fa-pen-to-square"></i> Blog
  </a>
  <a routerLink="/contact" routerLinkActive="active">
    <i class="fa-solid fa-phone"></i> Contact
  </a>
  <a routerLink="/resume" routerLinkActive="active">
    <i class="fa-solid fa-file"></i> Resume
  </a>
</div>