    <div class="a"></div>
    <div class="circle">
        <h1 class="blog">Contact Me</h1>
        <p class="contact-buttons">
            <a href="mailto:karam.abujudom@gmail.com" class="contact-button email"><i class="fas fa-envelope"></i> Email</a>
            <a href="https://www.linkedin.com/in/karam-abu-judom/" class="contact-button linkedin"><i class="fab fa-linkedin"></i> LinkedIn</a>
            <a href="https://github.com/kabu03" class="contact-button github"><i class="fab fa-github"></i> GitHub</a>
        </p>