<div class="contact-background">
    <div class="background-overlay"></div> <!-- Background overlay for opacity -->
    <mat-card class="contact-card">
        <mat-card-title class="contact-title">Contact Me</mat-card-title>
        <mat-card-content>
            <p class="contact-buttons">
                <a href="mailto:karam.abujudom@gmail.com" class="contact-button email">
                    <i class="fas fa-envelope"></i> Email
                </a>
                <a href="https://www.linkedin.com/in/karam-abu-judom/" class="contact-button linkedin">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
                <a href="https://github.com/kabu03" class="contact-button github">
                    <i class="fab fa-github"></i> GitHub
                </a>
            </p>
        </mat-card-content>
    </mat-card>
</div>
