/* ----------------- LOADING STYLES ----------------- */

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px; /* Adjust as needed */
    margin-top: 200px;
    text-align: center;
    color: #333;
  }
  
  .loading-container p {
    margin-top: 16px;
    font-size: 1.5rem;
  }
  
  .loading-message {
    text-align: center;
    margin-top: 100px;
    color: #555;
    font-size: 18px;
  }
  
  .loading-message .tip {
    margin-top: 10px;
    font-style: italic;
    font-size: 16px;
    color: #777;
  }

/* ----------------- BLOG STYLES ----------------- */

.blogPostWrapper{
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

.blogPostContainer{
    margin-top: 90px;
    margin-left: auto; /* Center the container */
    margin-right: auto; /* Center the container */
    padding-left: 20px; /* Keep padding for content */
    padding-right: 20px; /* Keep padding for content */
    max-width: 800px; /* Add a max-width to the content container */
    width: 100%; /* Ensure it uses available space up to max-width */
    background-color: var(--background-color);
}

h1{
    font-size: 36px;
    text-align: center;
    font-weight: 800;
    margin-bottom: 30px;
}

/* Styles for the main image in the blog post */
.blogPostContainer img {
  display: block; /* Allows margin auto for horizontal centering */
  max-width: 100%; /* Image will be at most the width of .blogPostContainer (800px) */
  /* If 100% (i.e., 800px) is still too wide, you can use a more specific max-width here, e.g., max-width: 700px; */
  height: auto;   /* Maintains the image's aspect ratio */
  margin-left: auto; /* Centers the image within its container */
  margin-right: auto; /* Centers the image within its container */
  margin-top: 20px; /* Space above the image */
  margin-bottom: 25px; /* Space between the image and the date/category below it */
  border-radius: 8px; /* Optional: for rounded corners */
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    word-wrap: break-word; /* Break long words */
    overflow-wrap: break-word; /* Ensure long words wrap */
    white-space: normal; /* Allow text to wrap to the next line */
  }

.blog-date{
    font-weight: bold;
    font-size: 14px;
    color: purple;
    margin-bottom: 20px;
}

.blog-category{
    font-weight: bold;
    font-size: 14px;
    color: purple;
    margin-bottom: 20px;
}

