<div class = blogPostWrapper>
  <div *ngIf="loading" class="loading-container">
    <mat-progress-spinner diameter="60" mode="indeterminate" color="accent"></mat-progress-spinner>
    <p>{{ loadingMessage }}</p>
    <p><em>{{ tip }}</em></p>
  </div>

  <div *ngIf="!loading" class="blogPostContainer">
    <div *ngIf="singleBlog">
      <h1>{{ singleBlog.title }}</h1>
      <img *ngIf="singleBlog.image" [src]="singleBlog.image" alt="{{ singleBlog.title }}">
          <!-- Display date -->
          <p class="blog-date">Published on {{ singleBlog.createdAt | date:'longDate' }}</p>
          <p class="blog-category" *ngIf="singleBlog.category">#{{ singleBlog.category }}</p>
          <!-- Render with newlines -->
          <p [innerHTML]="singleBlog.body | markdown"></p>
    </div>
  </div>
</div>