<div class="about-body">
  <mat-card class="card fade-in">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">About Me</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div class="card-content-text fade-in-text">
        <p>I'm an ambitious software engineer from Amman, Jordan. My interests in the field of
          computer science are mostly related to the applications of machine learning and data science.
          <br /><br />
          In my free time, I play football, lift weights, and enjoy reading. I am generally curious and 
          find that technological, philosophical and psychological subjects are the most enjoyable for me to learn about.
          <br /><br />
          I also occasionally share my thoughts and experiences on <a href="https://kabu.bearblog.dev/blog/" class="blog-link" target="_blank">my blog</a>. Check it out!
        </p>
      </div>
      <div class="card-content-image">
        <img src="/assets/images/me_1_cropped.jpeg" alt="Photo of Me" class="fade-in-image cropped-img" />
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card fade-in">
    <mat-card-header class="card-header">
      <mat-card-title class="card-title">BME - Budapest University of Technology and Economics</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div class="card-content-text fade-in-text">
        <p> Fun Fact: I studied Civil Engineering for a year before switching to
          Computer Science Engineering, yet I studied both in Budapest
          University of Technology and Economics (BME), which was founded in
          1782. The university was the first institute in Europe to train
          engineers at university level.
        <br><br> BME is ranked around 730 in the world according to QS, which evaluates only the top-performing universities globally.
        While there are around 50,000 universities worldwide, QS ranks just the top 3% of them.
        This means BME is already competing among the best institutions internationally, reinforcing its strong global reputation.</p>
      </div>
      <div class="card-content-image">
        <img src="/assets/images/bme.jpg" alt="Budapest University of Technology and Economics" class="fade-in-image" />
      </div>
    </mat-card-content>
  </mat-card>
</div>
