<div class="about-body">
  <mat-card class="card fade-in">
    <mat-card-header class="card-header">
      <mat-card-title>About Me</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div class="card-content-text fade-in-text">
        <p>I'm an ambitious software engineering student hailing
          from Amman, Jordan, currently studying for my Bachelor's degree at the Budapest
          University of Technology and Economics (BME). My interests in the field of
          computer science are mostly related to the applications of data science
          and machine learning.
          <br /><br />
          My major is called <b>Computer Science Engineering</b>, neither purely Computer Science nor Computer Engineering.
          Think of Computer Engineering as a blend of Electrical Engineering and Computer Science.
          Now, mix in even more Computer Science, and you get Computer Science Engineering.
          In BME, there's a "specialization system", so I'm currently specialized in
          <b>Software Engineering</b>.
          <br/><br/>
          Throughout my studies, I worked on various projects that helped me gain experience in different fields of computer science.
          I'm heading the Tech Team of the Google Developer Student Club at BME, where we
          organize both technical and non-technical events for students, and I'm also a Student Mentor, member of BME Sollertia,
          and a Teaching Assistant for the Databases subject at the university.

          <br /><br />
          In my free time, I play football, lift weights, game, and enjoy reading philosophy.
</p>
      </div>
      <div class="card-content-image">
        <img src="/assets/images/me_1_cropped.jpg" alt="Photo of Me" class="fade-in-image" />
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card fade-in">
    <mat-card-header class="card-header">
      <mat-card-title>National Orthodox School</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div class="card-content-text fade-in-text">
        <p> I studied for 12 years at the National Orthodox School in Amman, Jordan.
          From 9th grade until graduation, I followed the British system, completing IGCSE O-Levels and A-Levels (IAL).
          For my A-Levels, I took Physics, Mathematics, and Arabic, along with Chemistry at the AS level.
          Ironically, I never studied ICT or Computer Science in high school—yet that's exactly what I do now.</p>
      </div>
      <div class="card-content-image">
        <img src="/assets/images/nos.jpg" alt="National Orthodox School, Shmeisani" class="fade-in-image" />
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card fade-in">
    <mat-card-header class="card-header">
      <mat-card-title>BME - Budapest University of Technology and Economics</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div class="card-content-text fade-in-text">
        <p> Fun Fact: I studied Civil Engineering for a year before switching to
          Computer Science Engineering, yet I studied both in Budapest
          University of Technology and Economics (BME), which was founded in
          1782. The university was the first institute in Europe to train
          engineers at university level.
        <br><br> BME is ranked around 730 in the world according to QS, which evaluates only the top-performing universities globally.
        While there are around 50,000 universities worldwide, QS ranks just the top 3% of them.
        This means BME is already competing among the best institutions internationally, reinforcing its strong global reputation.</p>
      </div>
      <div class="card-content-image">
        <img src="/assets/images/bme.jpg" alt="Budapest University of Technology and Economics" class="fade-in-image" />
      </div>
    </mat-card-content>
  </mat-card>
</div>
