.about-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--background-color); /* Use CSS variables for dynamic theming */
}

.card {
  background-color: var(--card-bg); /* Use CSS variables for dynamic theming */
  color: var(--card-text); /* Use CSS variables for text color */
  width: 50%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #113065;
  color: white;
  text-align: center;
  padding: 10px;
}

.card-title {
  padding-left: 15px;
  font-size: 1.8rem;
  color: white;
  word-wrap: break-word; /* Ensures long words break properly */
  overflow-wrap: break-word; /* Breaks long words instead of overflowing */
  white-space: normal; /* Allows text to wrap to the next line */
  max-width: 100%; /* Prevents text from extending too far */
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 18px;
}

.card-content-text {
  flex: 1;
  margin-right: 50px;
}

.card-content-image img {
  max-width: 300px;
  border-radius: 10px;
  border: 2px solid black;
}

/* General fade-in effect */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.3s ease-in forwards;
}

/* Stagger effect for each card */
.card:nth-child(1) {
  animation-delay: 0.2s;
}
.card:nth-child(2) {
  animation-delay: 0.4s;
}
.card:nth-child(3) {
  animation-delay: 0.6s;
}

/* Fade-in animation for text inside cards */
.fade-in-text {
  opacity: 0;
  animation: fadeIn 0.3s ease-in forwards;
  animation-delay: 0.3s;
}

/* Fade-in animation for images */
.fade-in-image {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.3s ease-in forwards;
  animation-delay: 0.3s;
}

/* Keyframe for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cropped-img {
  width: 250px; /* Desired width */
  height: 300px; /* Desired height */
  object-fit: cover; /* Keeps aspect ratio, crops excess */
  object-position: top; /* Optional: Focus on the center (default), top, etc. */
}

/* Mobile Styling */
@media (max-width: 768px) {
  .card {
    width: 100%;
  }

  .card-content {
    flex-direction: column; /* Stack text and image vertically */
    text-align: center;
  }

  .card-content-text {
    margin-right: 0; /* Reset margin on mobile */
    margin-bottom: 20px; /* Add spacing between text and image */
  }

  .card-content-text p{
    font-size: 18px;
  }

  .card-content-image img {
    max-width: 100%;
  }
  .about-body {
    margin-top: 50px;
  }
}.blog-link {
    color: purple;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .blog-link:hover {
    color: #E64A19;
    text-decoration: underline;
  }