<div class="progress-container">
  <div class="progress-bar" id="myBar"></div>
</div>

<div class="about-body">
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title>About Me</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div class="card-content-text">
        <p>
          I'm an ambitious software engineering student hailing
          from Amman, Jordan, currently studying for my Bachelor's degree at the Budapest
          University of Technology and Economics (BME). My interests in the field of
          computer science are mostly related to the applications of data science
          and machine learning.
          <br /><br />
          Throughout my studies, I worked on various projects that helped me gain experience in different fields of computer science.
          I'm heading the Tech Team of the Google Developer Student Club at BME, where we
          organize both technical and non-technical events for students, and I'm also a Student Mentor, member of BME Sollertia,
          and a Teaching Assistant for the Databases subject at the university.

          <br /><br />
          In my free time, I play football, lift weights, game, and enjoy reading philosophy.

        </p>
      </div>
      <div class="card-content-image">
        <img src="/assets/images/me_1_cropped.jpg" alt="Photo of Me" />
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title>National Orthodox School</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div class="card-content-text">
        <p>
          I studied for 12 years in the National Orthodox School of Amman, Jordan. From the 9th
          grade till graduation, I studied in the British system, IGCSE O-Levels
          and A-Levels (IAL). For my A-Levels, I studied Physics, Mathematics,
          Arabic, and Chemistry (AS-level only). Funnily enough, I did not study
          ICT or Computer Science in high school, but this is what I do now.
        </p>
      </div>
      <div class="card-content-image">
        <img src="/assets/images/nos.jpg" alt="National Orthodox School, Shmeisani" />
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title>BME - Budapest University of Technology and Economics</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div class="card-content-text">
        <p>
          Fun Fact: I studied Civil Engineering for a year before switching to
          Computer Science Engineering, yet I studied both in Budapest
          University of Technology and Economics (BME), which was founded in
          1782. The university was the first institute in Europe to train
          engineers at university level.
        </p>
      </div>
      <div class="card-content-image">
        <img src="/assets/images/bme.jpg" alt="Budapest University of Technology and Economics" />
      </div>
    </mat-card-content>
  </mat-card>
</div>
