<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isMobile">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button (click)="toggleTheme()">
    <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
  <span class="toolbar-text">Karam Abu Judom - Portfolio Website</span>
  <span class="spacer"></span>

  <div *ngIf="!isMobile" class="desktop-nav">
    <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
      <i class="fa-solid fa-house"></i> Home
    </a>
    <a mat-button routerLink="/about" routerLinkActive="active-link">
      <i class="fa-solid fa-user"></i> About
    </a>
    <a mat-button routerLink="/projects" routerLinkActive="active-link">
      <i class="fa-solid fa-laptop-code"></i> Projects
    </a>
    <a mat-button href="https://kabu.bearblog.dev/blog/" target="_blank">
      <i class="fa-solid fa-pen-to-square"></i> Blog
    </a>
    <a mat-button routerLink="/contact" routerLinkActive="active-link">
      <i class="fa-solid fa-phone"></i> Contact
    </a>
    <a mat-button routerLink="/resume" routerLinkActive="active-link">
      <i class="fa-solid fa-file"></i> Resume
    </a>
  </div>
</mat-toolbar>

<mat-sidenav-container fullscreen class="sidenav-container">
  <mat-sidenav #sidenav [mode]="'over'" [opened]="false" class="sidenav">

    <mat-nav-list>
      <div class="navItems">

        <!-- Close sidenav only on mobile by checking `isMobile` -->
        <mat-list-item (click)="isMobile ? sidenav.close() : null">
          <a matLine routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }"
            class="itemText">
            <i class="fa-solid fa-house"></i> Home
          </a>
        </mat-list-item>


        <mat-list-item (click)="isMobile ? sidenav.close() : null">
          <a matLine routerLink="/about" routerLinkActive="active-link" class="itemText">
            <i class="fa-solid fa-user"></i> About
          </a>
        </mat-list-item>


        <mat-list-item (click)="isMobile ? sidenav.close() : null">
          <a matLine routerLink="/projects" routerLinkActive="active-link" class="itemText">
            <i class="fa-solid fa-laptop-code"></i> Projects
          </a>
        </mat-list-item>


        <mat-list-item (click)="isMobile ? sidenav.close() : null">
          <a matLine href="https://kabu.bearblog.dev/blog/" class="itemText">
            <i class="fa-solid fa-pen-to-square"></i> Blog
          </a>
        </mat-list-item>


        <mat-list-item (click)="isMobile ? sidenav.close() : null">
          <a matLine routerLink="/contact" routerLinkActive="active-link" class="itemText">
            <i class="fa-solid fa-phone"></i> Contact
          </a>
        </mat-list-item>


        <mat-list-item (click)="isMobile ? sidenav.close() : null">
          <a matLine routerLink="/resume" routerLinkActive="active-link" class="itemText">
            <i class="fa-solid fa-file"></i> Resume
          </a>
        </mat-list-item>

      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>