.sidenav-container {
  display: flex;
  min-height: 100vh;
  height: 100%;
}

/* Sidenav Active Link Style */
mat-sidenav a.active-link::before {
  content: '➤';
  /* Add an arrow or any symbol */
  color: teal;
  /* Match the active color */
  margin-right: 8px;
  /* Add spacing between the icon and text */
  font-size: 1.2rem;
}

/* Desktop Nav Active Link Style */
.desktop-nav a.active-link {
  color: #64ffda;
  border-bottom: 2px solid #64ffda;
  /* Teal-ish color for active state */
  border-radius: 0;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #040133;
  /* Adjust the toolbar color */
}

.toolbar-text {
  color: white;
  font-size: clamp(14px, 3vw, 28px);
  /* Makes text scale dynamically */
  white-space: nowrap;
  /* Prevents wrapping */
  overflow: hidden;
  text-overflow: ellipsis;
  /* Adds '...' if text is too long */
}

.desktop-nav a {
  color: white;
  margin-left: 15px;
  /* Increased spacing */
  font-size: 20px;
  /* Larger text */
  padding: 0 25px;
  /* Wider buttons */
}

.desktop-nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav {
  width: 170px;
  /* Adjust the width as needed */
  background-color: #040133;
  color: #040133;
  border-radius: 0%;
}

mat-sidenav-content {
  background-color: var(--background-color);
  transition: background-color 0.5s ease-in-out;
  flex-grow: 1;
}

mat-nav-list mat-list-item {
  padding: 15px 20px;
}

.itemText {
  font-size: 18px;
  padding-top: 70px;
  padding-bottom: 70px;
  text-decoration: none;
}

.fa-solid {
  padding-right: 5px;
}

mat-nav-list mat-list-item a {
  color: white;
  display: flex;
  align-items: center;
}

mat-nav-list mat-list-item:hover {
  background-color: #4a6583;
  border-radius: 0px;
  transition: background-color 0.1s ease-in-out;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  mat-sidenav {
    width: 100vw;
    /* Full width on mobile */
  }

  mat-sidenav-content {
    margin-left: 0;
  }

  .toolbar-text {
    font-size: 20px;
  }
}