<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="toolbar-text">Karam Abu Judom - Portfolio Website</span>
  <span class="spacer"></span>
</mat-toolbar>

<mat-sidenav-container fullscreen class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    class="sidenav">
    
    <mat-nav-list>
      <div class="navItems">
        <mat-divider></mat-divider>

        <!-- Close sidenav only on mobile by checking `isMobile` -->
        <mat-list-item (click)="isMobile ? sidenav.close() : null">
          <a matLine routerLink="/" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          class="itemText">
            <i class="fa-solid fa-house"></i> Home
          </a>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="isMobile ? sidenav.close() : null">
          <a matLine routerLink="/about" routerLinkActive="active-link" class="itemText">
            <i class="fa-solid fa-user"></i> About
          </a>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="isMobile ? sidenav.close() : null">
          <a matLine routerLink="/projects" routerLinkActive="active-link" class="itemText">
            <i class="fa-solid fa-laptop-code"></i> Projects
          </a>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="isMobile ? sidenav.close() : null">
          <a matLine routerLink="/blog" routerLinkActive="active-link" class="itemText">
            <i class="fa-solid fa-pen-to-square"></i> Blog
          </a>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="isMobile ? sidenav.close() : null">
          <a matLine routerLink="/contact" routerLinkActive="active-link" class="itemText">
            <i class="fa-solid fa-phone"></i> Contact
          </a>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item (click)="isMobile ? sidenav.close() : null">
          <a matLine routerLink="/resume" routerLinkActive="active-link" class="itemText">
            <i class="fa-solid fa-file"></i> Resume
          </a>
        </mat-list-item>

        <mat-divider></mat-divider>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
