<div class = "blogComponentWrapper">
<div *ngIf="loading" class="loading-container">
  <mat-progress-spinner diameter="60" mode="indeterminate" color="accent"></mat-progress-spinner>
  <p>Loading blog posts…</p>
  <p>{{ loadingMessage }}</p>
  <p><em>{{ tip }}</em></p>
</div>

<div class="blogs-container" *ngIf="!loading">
  <a [routerLink]="['/blog', blogItem.slug]" *ngFor="let blogItem of blogList" class="blog-card-link">
    <mat-card class="blog-card">
      <mat-card-header class="card-header">
        <mat-card-title>
          <span class="blog-title">{{ blogItem.title }}</span>
        </mat-card-title>
      </mat-card-header>

      <div class="blog-meta">
        <span class="blog-date">{{ blogItem.createdAt | date:'longDate' }}</span>
        <span class="blog-category" *ngIf="blogItem.category">#{{ blogItem.category }}</span>
      </div>

      <mat-card-content class="blog-content">
        <div [innerHTML]="((blogItem.body | slice:0:200) + '...') | markdown"></div>
      </mat-card-content>

      <div *ngIf="blogItem.image" class="blog-image">
        <img [src]="blogItem.image" alt="{{ blogItem.title }}" />
      </div>
    </mat-card>
  </a>
</div>
</div>
