<div class="blogs-container">
  <mat-card *ngFor="let blogItem of blogList" class="blog-card">
    
    <mat-card-header class="card-header">
      <mat-card-title>
        <span class="blog-title">{{ blogItem.title }}</span>
        <a [routerLink]="['/blog', blogItem.slug]" class="blog-link">Read More</a>
      </mat-card-title>
    </mat-card-header>

    
    <mat-card-content class="blog-content">
      <p>{{ blogItem.body | slice:0:150 }}...</p>
    </mat-card-content>

    
    <div *ngIf="blogItem.image" class="blog-image">
      <img [src]="blogItem.image" alt="{{ blogItem.title }}" />
    </div>

  </mat-card>
</div>

