<div class="homepage-container">
  <div class="homepage-overlay"></div> <!-- Overlay for better visibility -->

  <div class="container position-relative text-center text-white">
      <div class="row align-items-center justify-content-center">
          <div class="col-md-4">
              <img src="assets/images/me_3.jpg" class="img-fluid rounded-circle" alt="Profile Image">
          </div>
          <div class="col-md-6 homepage-text">
              <h1 class="fw-bold">Hey there! I'm Karam 👋</h1>
              <p class="fs-5">Welcome to my website! This is one of my side projects, where I apply my web development skills. Enjoy your stay!</p>
          </div>
      </div>
  </div>
</div>



