<div class="homepage-container">
    <div class="homepage-overlay"></div> <!-- Overlay for better visibility -->

    <div class="container position-relative text-center text-white">
        <div class="hero-stack">
            <img src="assets/images/my_avatar.png" class="img-fluid profile-image" alt="Profile Image">
            <div class="homepage-text">
                <h1 class="fw-bold text">Hey there! I'm Karam</h1>
                <p class="fs-5 text">Welcome to my website! Here, I apply my humble skills in web development. Enjoy
                    your stay! 🍻</p>
            </div>
        </div>
    </div>
</div>