<div class="homepage-container">
  <div class="homepage-overlay"></div> <!-- Overlay for better visibility -->

  <div class="container position-relative text-center text-white">
      <div class="row align-items-center justify-content-center ">
          <div class="col-md-4 profile-image-container">
              <img src="assets/images/me_4_cropped.jpg" class="img-fluid profile-image" alt="Profile Image">
          </div>
          <div class="col-md-6 homepage-text">
              <h1 class="fw-bold text">Hey there! I'm Karam 👋</h1>
              <p class="fs-5 text">Welcome to my website! This is one of my side projects where I apply what I've learned in web development so far. Enjoy your stay!</p>
          </div>
      </div>
  </div>
</div>



