<div class="projects-container">
  <mat-card *ngFor="let project of projects" class="project-card">
    <!-- Card Header: Title and GitHub Link -->
    <mat-card-header class = "card-header">
      <mat-card-title>
        <span class="project-title">{{ project.title }}</span>
        <a *ngIf="project.github" [href]="project.github" target="_blank" class="github-link">
          <i class="fab fa-github"></i>
        </a>
      </mat-card-title>
    </mat-card-header>

    <!-- Card Content: Description on the left, Image on the right -->
    <mat-card-content class="project-content">
      <div class="project-description">
        <p [innerHTML]="project.description"></p>
      </div>
      <div class="project-image" *ngIf="project.screenshot && !isMobile()">
        <a [href]="project.screenshot" target="_blank">
          <img [src]="project.screenshot" [alt]="project.title + ' Screenshot'" />
          <div class="overlay">Click to view the image!</div>
        </a>
      </div>
      
    </mat-card-content>

    <!-- Card Footer: Technologies Used -->
    <mat-card-footer class="project-footer">
      <p class="technologies-used">
        <strong>Technologies used:</strong>
        <ng-container *ngFor="let tech of project.technologies; let last = last">
          <span class="technology">{{ tech }}</span>{{ !last ? ', ' : '' }}
        </ng-container>
      </p>
    </mat-card-footer>
  </mat-card>
  <hr> <!-- Horizontal line after each project -->
</div>
