.projects-container {
  display: flex;
  flex-direction: column; /* Arrange cards in a column */
  align-items: center; /* Center the items horizontally */
  justify-content: center; /* Center the items vertically */
  margin-top: 90px;
}

.project-card {
  width:85%;
  flex-direction: column;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-header{
  background-color: #113065;
  height: 40px;
}
/* Project Header */
.project-title {
  font-style: italic;
  font-size: 1.8rem;
  color: white;
}

.github-link {
  font-size: 1.5rem;
  color: #aad6ec;
  text-decoration: none;
  margin-left: 10px;
}

.github-link:hover {
  color: white;
}

/* Project Content */
.project-content {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 1rem 0;
}

.project-description {
  flex: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 19px;
}

.project-image{
  padding-right: 1rem;
}
.project-image img {
  max-width: 300px;
  height: 300px;
  border-radius: 8px;
  border: 2px solid #000;

}

/* Project Footer */
.project-footer {
  padding-top: 1rem;
}

.technologies-used {
  font-size: 0.9rem;
  color: #555;
  margin-top: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.technology {
  background-color: #eee;
  border-radius: 3px;
  padding: 2px 5px;
}

/* Divider */
hr {
  margin-top: 2rem;
  border: 0;
  width: 100%;
  height: 1px;
  background: #ccc;
}
