<div class="projects-container">
  <mat-card *ngFor="let project of projects; let i = index" class="common-card animate-fade-in"
    [style.animation-delay]="i * 0.2 + 's'">

    <!-- Card Header: Title and GitHub Link -->
    <mat-card-header class="common-card-header">
      <mat-card-title class="common-card-title title-container">
        <span>{{ project.title }}</span>
        <a *ngIf="project.github" [href]="project.github" target="_blank" class="github-link">
          <i class="fab fa-github"></i>
        </a>
      </mat-card-title>
    </mat-card-header>

    <!-- Card Content -->
    <mat-card-content class="common-card-content project-content-layout">
      <div class="project-description animate-text">
        <p [innerHTML]="project.description"></p>
      </div>
      <div class="project-image" *ngIf="project.screenshot && !isMobile()">
        <a [href]="project.screenshot" target="_blank">
          <img [src]="project.screenshot" [alt]="project.title + ' Screenshot'" class="fade-in-image" />
          <div class="overlay animate-text">
            <p>Click to view the image!</p>
          </div>
        </a>
      </div>
    </mat-card-content>

    <!-- Footer -->
    <mat-card-footer class="project-footer">
      <p class="technologies-used animate-text">
        <strong>Technologies used:</strong>
        <ng-container *ngFor="let tech of project.technologies; let last = last">
          <span class="technology">{{ tech }}</span>
        </ng-container>
      </p>
    </mat-card-footer>
  </mat-card>
</div>