<div class="background">
  <div class="resume">
    <div class="resume-overlay"></div> <!-- Overlay for better visibility -->
    <h1 class="fade-in">Resume</h1>
    <p class="fade-in delay">
      You can download my resume below. If you have any suggestions or
      improvements, please reach out via the Contact page.
    </p>
    <!-- Download Button -->
    <a
      href="../../assets/pdfs/Resume_KaramAbuJudom.pdf"
      download="Resume_KaramAbuJudom.pdf"
      class="download-button pulse"
      >Download Resume</a
    >
  </div>
</div>
