
    <div class="background">
      <div class="typical-section resume">
        <h1>Resume</h1>
        <p>
          You can download my resume below. If you have any suggestions or
          improvements, please reach out via the Contact page.
        </p>
        <!-- Download Button -->
        <a
          href="../../assets/pdfs/Resume Karam Abu Judom.pdf"
          download="Resume_Karam_AbuJudom.pdf"
          class="download-button"
          >Download Resume</a
        >
      </div>
    </div>
