html,
body,
main {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  padding-top: 1px;
}

.typical-section {
  padding: 10px;
  padding-top: 30px;
  text-align: center;
  color: black;
}

.typical-section h1 {
  font-size: 50px;
}

.typical-section p {
  font-size: 22px;
  margin: 50px;
  text-align: left;
}

.background {
  background-image: url("./assets/images/cool-background.png");
  background-size: cover;
  /* Make sure the image covers the entire element */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Prevent the image from repeating */
  height: 100vh;
  /* Make the element full height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}

/*
-
-
MOBILE SPECIFIC ADJUSTMENTS 
-
-
*/


@media (max-width: 768px) {
  .hamburger {
    display: block;
    /* Show hamburger menu on small screens */
  }

  .blog {
    font-size: 40px;
    /* Smaller font size for mobile */
  }

  .contact-button {
    font-size: 14px;
    /* Smaller size for mobile */
  }


  .typical-section h1 {
    padding-top: 70px;
  }

  nav ul {
    display: none;
    /* Hide nav links by default */
    flex-direction: column;
    /* Stack links vertically */
    align-items: center;
    /* Center them */
  }

  nav ul.show {
    display: flex;
    /* Show nav links when hamburger is clicked */
  }

  nav ul li {
    margin: 10px 0;
    /* Adds vertical space between list items on small screens */
  }

  .about-body p {
    font-size: 15px;
    margin: 20px;
  }
}

@media (max-width: 576px) {
  header {
    padding: 0.5rem 0;
    /* Adjust header padding for smaller screens */
  }

  nav ul li a {
    font-size: 1rem;
    /* Adjust font size for smaller screens */
  }
}

